.color-highlight {
	color: #434a54!important
}

.bg-highlight {
	background-color: #434a54!important;
	color: #fff!important
}

.border-highlight {
	border-color: #434a54!important
}

.gradient-highlight {
	background-image: linear-gradient(to bottom, #656D78, #434A54)!important
}

.footer-bar-2 .active-nav,
.footer-bar-5 strong,
.footer-bar-4 strong,
.splide__pagination__page.is-active {
	background-color: #434a54!important
}

.footer-bar-1 .active-nav i,
.footer-bar-1 .active-nav span,
.footer-bar-3 .active-nav i {
	color: #434a54!important
}

.form-floating-over>.form-control:focus~label {
	color: #434a54
}

.form-floating-over>.form-control:not(:placeholder-shown)~label {
	color: #434a54
}

.form-floating-over>.form-select~label {
	color: #434a54
}

.color-highlight {
	color: #434a54
}

.bg-highlight {
	background-color: #434a54;
	color: #fff!important
}

.interest-check input:checked~label {
	color: #fff!important;
	background-color: #434a54!important
}

.bg-fade-highlight-light {
    background-color: #434a5442!important;
}

.bg-fade-highlight-dark {
    background-color: #434a54b8!important;
}
